{% extends '@!TtskchUser/layout.html.twig' %}

{% block ttskch_user_content %}
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path('ttskch_user_security_check') }}" method="post">
    {% if csrfToken %}
      <input type="hidden" name="_csrf_token" value="{{ csrfToken }}" />
    {% endif %}

    <label for="username">username</label>
    <input type="text" id="username" name="_username" value="{{ lastUsername }}" required="required" autocomplete="username">

    <label for="password">password</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password">

    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
    <label for="remember_me">remember me</label>

    <button type="submit">submit</button>
  </form>
{% endblock %}
